<h1> <%= make_header 'Songs!' %> </h1>
<table>

  <thead>
    <tr>
       <th>Title</th>
       <th>Released</th>
       <th>Release Year</th>
       <th>Artist Name</th>
       <th>Genre</th>
    </tr>
  </thead>


  <%= @songs.each do |s| %>
  <tbody>
  <tr>
    <td><%= s.title %></td>
    <td><%= s.released %></td>
    <td><%= s.release_year %></td>
    <td><%= s.artist_name %></td>
    <td><%= s.genre %></td>
  </tr>
  </tbody>
  <% end %>

</table>
